.calculator {
    height: 666px;
    width: 403px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 170px 102px 91px 57px 56px;
}

.calculadoraInsp{
    margin-left: 40px;
}

.containerCalc{
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
}
.botaoInexistente{
    grid-column: span 2;
}