:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.button {
    font-size: 2.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
}

.button:active {
    background-color: #ec54ec;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 4;
}

.button.operation {
    background-color: #5c0606;
    color: #fff;
}

.botaoResultado{
    grid-column: span 2;
    background-color: #5c0606;
}

.botaoInexistete{
    grid-column: span 2;
}

.button.operation:active {
    background-color: #fa8231cc;
}

.buttons{
    display: grid;
    width: 401px;
    height: 333px;
    margin-top: 99px;
    border: 1px solid gray;
}